{
    "development": {
        "server_port": 5000,
        "api_url": "/api",
        "db_host": "localhost",
        "db_user": "postgres",
        "db_port": 3333,
        "db_pass": "",
        "db_name": "socpred"
    },
    "production": {
        "server_port": 5000,
        "api_url": "/api",
        "db_host": "localhost",
        "db_user": "postgres",
        "db_port": 5432,
        "db_pass": "",
        "db_name": "socpred"
    }
}