<div class="container mt-3">
    <div class="card">
        <div class="card-body">
             <h5 class="card-text">How do i predict?</h5>
             <span class="card-text">
                - Calculate μHg and μAg for all teams in the competition, where μHg = mean home goal and μAg = mean away goal<br>
                - Calculate μHgt, μAgt, μHct, μAct for each team in the competition, where μHgt = mean of home goal team "t", μAgt = mean of away goal team "t", μHct = mean of home concede team "t", μAct = mean of away concede team "t"
             </span>
        </div>
    </div>
</div>