<div class="container mt-5">
  <div class="row align-items-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center text-white">
          <h1 class="my-3 display-4 d-none d-lg-inline-block">SocPred</h1>
          <span class="h1 my-3 d-inline-block d-lg-none">Soccer Predictor</span>
          <p class="lead mb-3" style="font-size: 16px;">Soccer match predictor from 2017 to 2018 season. SocPred can predict scores and 1x2 outcomes. This site is not for betting but educational purposes only. You can grab the source code from <a href="https://github.com/tesla-1st-code/socpred-core" style="color: #cacacc" target="_blank">here</a>. You can download data from <a href="https://datahub.io/sports-data" style="color: #cacacc" target="_blank">here</a></p>
      </div>
  </div>
</div>
