<nav class="navbar navbar-lg navbar-expand-lg navbar-dark navbar-absolute w-100" style="background: #4d4d4db8;">
  <div class="container">
    <button class="navbar-toggler" style="background: black;" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['prediction']">Prediction</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['result']">Result</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="intro py-5 py-lg-9 e" style="position: relative;">
  <router-outlet></router-outlet>  
  <div class="bg-overlay-primary">
      <img src="assets/images/stadium.jpg" class="img-fluid img-cover" style="z-index: -1000" alt="Robust UI Kit">
  </div>
</div>